<ion-view view-title="Nuevo Contacto">
  <ion-content>

    <h2 class="textNuevoContacto">Alta Contacto</h2>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="Introduce el nombre" ng-model="vm.nombre">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Apellidos</span>
        <input type="text" placeholder="Introduce los apellidos" ng-model="vm.apellido">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Comentarios</span>
        <textarea placeholder="..." ng-model="vm.comentarios"></textarea>
      </label>

    </div>

    <div class="card" ng-show="vm.photoTaken">
      <div class="item item-text-wrap">
        <div class="fotoText">Foto</div>
        <div >
          <img ng-src="{{vm.imagen}}" alt="Contact photo" class="fotoImg">
        </div>
      </div>
    </div>

    <div class="padding">
      <button class="button button-block button-energized" ng-click="vm.takePhoto()">
        Tomar foto
      </button>
    </div>

    <div class="padding">
      <button class="button button-block button-positive" ng-click="vm.altaContacto()">
        Enviar
      </button>
    </div>

  </ion-content>
</ion-view>
